<!DOCTYPE html>
<html>
<head>
  <title>SevenPortfolio</title>
  <%= stylesheet_link_tag    "seven_portfolio/application", media: "all" %>
  <%= javascript_include_tag "seven_portfolio/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container"><%= yield %></div>

</body>
</html>
