<h4>upload:</h4>
<div id="uploaderWrapper" class="dropzone" data-name="photo[image]" data-url="<%= url_for seven_gallery.gallery_photos_url(@item.item_gallery) %>">
  <p class="dz-message">Select photos</p>
</div>